body {
	background-color: lightsteelblue;
	color: floralwhite;
	font-family: "Tahoma", sans-serif;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 40px;
	
	}
	
a.text:link {
	color: floralwhite;
	text-decoration: none;
	padding: 2px;
}

a.text:visited {
	color: floralwhite;
	text-decoration: none;
	padding: 2px;
}

a.text:hover {
	color: floralwhite;
	border: 2px solid floralwhite;
}

a.text:active {
	color: lightsteelblue;
	text-decoration: none;
}

p{
	padding:10px
	}
	
.header_div {
	border: 4px solid floralwhite;
	margin-left: 30%;
	margin-right: 30%;
	padding: 10px;
	text-align: center;
	}
	
.photo_div {
	float: right;
	padding: 10px;
	}
	
.header2_div {
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	text-align: center;
	}
	
	
.abcde_div {
	text-align: center;
	}
	
.pre_div{
	font-family: "Tahoma", sans-serif;
}
